/* 메인 */
.main_tit-2 {text-align:left;}
.main_tit-2 .tit_01{font-size:2.2rem}
.main_tit-2 .tit_02{padding-top:30px;opacity:.7; font-size:18px;}

.news_text {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/* 메인 슬라이드 */
.owl-theme .owl-nav.disabled+.owl-dots {display:none;}
#carousel22_indicator .carousel-control-next, #carousel22_indicator .carousel-control-prev {opacity: 0.8 !important;}
#carousel22_indicator .carousel-control-next, #carousel22_indicator .carousel-control-prev {top:auto !important; width:auto !important; padding: 20px !important; bottom:1px !important; background-color:rgba(255, 255, 255, 0.9);}
#carousel22_indicator .carousel-control-prev {left: auto !important; right: 58px;}
#carousel22_indicator .carousel-control-next {right:1px !important;}
#carousel22_indicator img {object-fit:cover;}
#carousel22_indicator .pattern-overlay_wrap {background: radial-gradient(rgba(0,0,0,0), rgba(0,34,75,0.5));}
/* #carousel33_indicator span {height:270px; text-overflow:ellipsis; overflow:hidden;} */
#carousel33_indicator .carousel-control-next, #carousel33_indicator .carousel-control-prev {opacity: 0.8 !important;}
#carousel33_indicator .carousel-control-next, #carousel33_indicator .carousel-control-prev {top:auto !important; width:auto !important; padding: 20px !important; bottom:2px !important; background-color:rgba(255, 255, 255, 0.9);}
#carousel33_indicator .carousel-control-prev {left: auto !important; right: 59px;}
#carousel33_indicator .carousel-control-next {right:2px !important;}
#carousel33_indicator img {object-fit:cover;}
#carousel33_indicator .pattern-overlay_wrap {background: radial-gradient(rgba(0,0,0,0), rgba(0,34,75,0.5));}
#carousel11_indicator .pattern-overlay_wrap {background: radial-gradient(rgba(0,0,0,0), rgb(0, 0, 0,0.7));}
#owl_01 .sul {font-size:1.05rem; color: rgba(255,255,255,.85);}
#owl_01 .item {align-items: flex-start; justify-content: flex-end;}
#owl_01 .item_box-01, #owl_01 .item_box-02, #owl_01 .item_box-03, #owl_01 .item_box-04, #owl_01 .item_box-05, #owl_01 .item_box-06 {width:100%; padding:35px}
/* 메인 슬라이드 끝 */

.kaist-box_01 {display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 200px;}
.kaist-box_02 {display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 200px;}

.gallery_content {min-height:324px;}

.Notice #tab-select {color: #777777;padding: 10px;background-color: #e8ebed;border-color: #e8ebed;}

/* 내비 */
@media screen and (max-width:768px) {
#nav .util-menu .util-menu-group {display:none !important;}
.main_tit .tit_01 {font-size:2.2rem;}
.main_tit .tit_02 {padding:30px 30px 0 30px;}
}

.section-2 {background:url('../../contents/img/section-3_bg.jpg') no-repeat top left;}

/* 반응형 */
@media screen and (max-width:575px) {
#owl_03 .item img {padding-top: 20px;}
.gallery_content img {display:none !important;}
}

@media screen and (max-width:600px) {
.main_gab_01 {padding: 70px 0;}
}
/* 반응형 */


/* 공통 */
.card-body {text-align: justify;}
.box-ul-2 li::before {content: "·"; color:#00458a; padding:0 0.7rem 0 0; font-weight: 700;}
.box-ul-2 li {margin-top:15px; display: flex; flex-direction: row;    flex-wrap: nowrap;}
.box-ul-1 li {display: flex; margin-bottom: 10px; font-size:}
.box-ul-1 li::before { content: ""; background:-webkit-gradient(linear , left top, left bottom , color-stop(30%, #01264e), color-stop(70%, #7dc2f7)); background:-webkit-linear-gradient(top , #01264e 30%, #7dc2f7 70%); background:-o-linear-gradient(top , #01264e 30%, #7dc2f7 70%); background:linear-gradient(to bottom , #01264e 30%, #7dc2f7 70%); width:5px; height:30px; display:inline-block; margin-right:10px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; ;}

.box-ul {margin-top:12px; }
.box-ul li {display: flex; margin: 8px 0; text-align: justify; font-weight:400;}
.box-ul li::before {content: "-"; color:#01274e; font-weight:300; padding:0 0.5rem 0 0.5rem;}
@media screen and (max-width:1260px) {
.overflow-scroll {overflow-x: scroll !important;}	
}

/* .max_img img {width:100%;} */
.btn-01 {padding:10px 30px;}

.mo_gab {padding: 30px 0;}

.txt_14 {font-size:14px;}
.txt_16 {font-size:16px;}
.txt_18 {font-size:18px;}
.txt_20 {font-size:20px;}
.txt_22 {font-size:22px;}
.txt_24 {font-size:24px;}
.txt_26 {font-size:26px;}
.txt_28 {font-size:28px;}
.txt_30 {font-size:30px;}
.txt_32 {font-size:32px;}
.txt_34 {font-size:34px;}
.txt_36 {font-size:36px;}
.txt_38 {font-size:38px;}
.txt_40 {font-size:40px;}
.txt_42 {font-size:42px;}
.txt_44 {font-size:44px;}
.txt_46 {font-size:46px;}

.blue_01 {color:#01438f;}

.bg_gray {background-color: #f6fafe;}
.bg_white {background-color:#ffffff;}
.bg_black {background-color:black;}
.bg_blue {background-color:#01438f;}
.bg_blue-2 {background-color:#e7f2f9;}
.bg_blue-3 {background-color:#e7f6ff !important;}
.bg_blue-4 {background-color:#ceebff !important;}

.box-3 {max-width:600px; border:1px solid #dbdbdb; background-color: #ffffff;}
.box-2 {max-width:400px; border:1px solid #dbdbdb; background-color: #ffffff;}
.box-1 {max-width:400px; min-height:400px; background-color: #ffffff; border:1px solid #dbdbdb;}
.box-1 img,.box-2 img {border-bottom:1px solid #eeeeee;}
    
.line_10 {line-height: 10px;}
.line_20 {line-height: 20px;}
.line_30 {line-height: 30px;}
.line_40 {line-height: 40px;}
.line_50 {line-height: 50px;}

.txt-brk {word-break:keep-all;}

.line_gab_10 {border-top:1px #686868 solid;margin-top:10px; margin-bottom:10px; width:100%;}
.line_gab_20{border-top:1px #ffffff solid;margin-top:20px; margin-bottom:20px; width:100%;}
.line_gab_30{border-top:3px #0e0e0e solid;margin-top:30px; margin-bottom:30px; width:100%;}
.line_gab_30-1{border-top:1px #bebebe solid;margin-top:30px; margin-bottom:30px; width:100%;}
.line_gab_30-2{border-top:3px #ffffff solid;margin-top:30px; margin-bottom:30px; width:100%; opacity: 0.4;}
.line_gab_50{border-top:1px #dedede solid;margin-top:50px;}

.border_01 { border:1px solid #dddddd;}
.border_02 { border:1px solid #dddddd;}
.border_03 { border:1px solid #dddddd; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; }
.border_04 { border:1px solid #09407e79;}
.border_05 { border: 1px solid #e2e2e2;}

.line_blue {border-top:3px solid #093f7e; border-bottom:3px solid #093f7e;}
.line_blue_02 {border-top:3px solid #b5c5d8;}

.shadow_01 {box-shadow:10px 10px 10px #c2c2c2;}

.border_r_10 { border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;}
.border_r_20 { border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px;}
.border_r_30 { border-radius: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px;}
.border_r_40 { border-radius: 40px; -webkit-border-radius: 40px; -moz-border-radius: 40px; -ms-border-radius: 40px; -o-border-radius: 40px;}
.border_r_50 { border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px;}


/* 반응형 */
@media screen and (max-width:576px) {
.box-1 {min-height:310px;}
.box-1 .txt_30 {font-size:24px}
.box-2 .txt_24, .box-1 .txt_24, .box-3 .txt_24 {font-size: 1.3rem;}
.sul_area .txt_36 {font-size: 2rem;}
}
@media screen and (max-width:801px)  {
.border_01 {padding:30px;}
}


/* 서브 */
@media screen and (max-width:768px) {
.sub_wrap-1 .txt_24 {font-size: 20px;}
.sub_wrap-1 .txt_20 {font-size: 18px;}
.sub_wrap-1 .pad_30 {padding:20px;}
.align_left {text-align: left;}

body {font-size:1rem;}
}
	

@media screen and (max-width:992px) {
.sub_wrap-1 {padding: 30px 0;}
.sub_history .timeline-block {padding-bottom: 0 !important;}
.sub_history .timeline-content {padding:0 0 0 15px !important;}
.history_txt {padding: 0 15px !important;}
.sub_history .wrap_02 {width:auto !important;}
}

.sub01d-box-2 {padding-top:80px;}
.sub01d-box-1 .txt_28, .sub01d-box-2 .txt_28  {line-height: 40px;}

.sul_area .gab {padding-left:55px;}

/* 서브 인사말 */
.visual_menu { 
flex-direction: column; justify-content: center; min-height: 250px; 
background-color: white; box-sizing: border-box; box-shadow: 3px 4px 24px 0px rgba(0,67,236,0.17); text-align: center; border-radius:10px ; 
-webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ;
}

@media screen and (max-width:767px) {
.visual_menu {min-height: auto;}
}

/* 서브 연혁 */
.visual_menu-2 { padding:20px; background-color: white; box-sizing: border-box; border: 0.1px solid #09407e6c; 
border-radius:5px ; -webkit-border-radius:5px ; -moz-border-radius:5px ; -ms-border-radius:5px ; -o-border-radius:5px ;}

.sub_history .wrap_02 {width: 90%;padding: 50px 0;margin: 30px auto 0;position: relative;overflow: hidden;}
.sub_history .wrap_02:before {content: '';position: absolute;top: 0;left: 50%;margin-left: -1px;width: 1px;height: 100%;background: #8ea7c4;z-index: 1}
.sub_history .timeline-block {padding-bottom: 50px; width: -webkit-calc(50% + 8px);width: -moz-calc(50% + 8px);width: calc(50% + 8px);display: -webkit-box;
display: -webkit-flex;display: -moz-box;display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-moz-box-pack: justify;justify-content: space-between;clear: both;}
.sub_history .timeline-block-right {float: right;}
.sub_history .timeline-block-left {float: left;direction: rtl; text-align: right;}
.sub_history .marker {width: 15px;height: 15px;border-radius: 50%; background: #093f7e;margin-top: 15px;z-index: 10;     box-shadow: 0 0 0 10px #09407e75;}
.sub_history .timeline-content {width: 100%;padding: 0 30px;color: #555555}
.sub_history .timeline-content h3 {margin-top: 5px;margin-bottom: 30px;font-size: 30px;font-weight: 700;}
.sub_history .timeline-content span {font-size: 20px;color: #a4a4a4;}


@media screen and (max-width: 768px) {
.sub_history .marker {box-shadow: none;}
.sub_history .wrap_02:before {left: 8px;width: 1px;}
.sub_history .timeline-block {width: 100%;margin-bottom: 30px;}
.sub_history .timeline-block-right {float: none;}
.sub_history .timeline-block-left {float: none;direction: ltr; text-align: left;}
}
/* 서브 연혁 끝 */

 /* 서브조직도 */
.sub_group .tit_01 {font-size: 20px;  line-height: 45px;}
.sub_group .tit_02 {font-size: 18px;  line-height: 24px;}
.sub_group .point_txt {font-size: 32px; line-height: 44px;}
.sub_group .visual_menu {min-height: auto;}
.sub_group .circle_01 {width:280px; height:280px; border-radius:50%; display:flex; justify-content:center; align-items:center; text-align:center;}
.sub_group .circle_01 p {margin-bottom:0px;}


@media only screen and (max-width: 767px) {
.sub_group .visual_menu {min-height: 165px;}
.sub_group .point_txt {font-size: 1.45rem; line-height: 2.125rem;}
.sub_group .circle_01 p {font-size: 18px;}
}

@media only screen and (max-width: 767px) {
.sub_group .circle_01 {width:200px; height: 200px;}
}


@media only screen and (max-width: 1024px) {
.sub_group .tit_01 {font-size: 1.2rem;line-height: 2rem; padding: 15px 0;}
.sub_group .tit_02 {font-size: 1.1rem;line-height: 2.125rem;}
.sub_group_tab {padding: 20px;}
}

.sub_organization {text-align:center;}
@media only screen and (max-width: 1024px) {
.sub_organization {text-align:left;}
}
 /* 서브조직도 끝 */

 /* 서브 중점 */
 .circle_02 {width: 150px; background-color: #dfe8ee; height: 150px;border-radius: 50%;display: flex;flex-direction: column;justify-content: center;align-items: center;}
 .circle_03 {width: 200px; background-color: #f6fafe; height: 200px;border-radius: 50%;display: flex;flex-direction: column;justify-content: center;align-items: center; border: 1px solid #e1e1e1;}
 .btn-blue {color: #fff;background-color: #01438f;border-color: #6c757d;}

 @media screen and (max-width:575px) {
.content_mar {margin-top:20px;}
.circle_03 {width:150px; height: 150px;}
}


/* 서브 일반교육사업 */
.target_box {height: 230px;}
.target_box:hover { background-color:#e8ebed; transition:all 0.3s ; -webkit-transition:all 0.3s ; -moz-transition:all 0.3s ; -ms-transition:all 0.3s ; -o-transition:all 0.3s ; }

/* 플렉스 */
.kaist-1 .flexbox{display:flex;flex-wrap:wrap;gap:1em}
.kaist-1 .item{flex-basis:100px;flex-grow:1;font-size:16px;line-height:20px}
.kaist-1 .item_03{flex-basis:100px;flex-grow:1;border:none}
.kaist-1 .item_02{flex-basis:100px;flex-grow:1;border:none;font-size:14px;line-height:20px}
.kaist-1 .box_01{padding:15px;width:auto;height:auto;border-radius:0;margin-right:auto}
.kaist-1 .box_02{padding:15px;width:auto;height:auto;border-radius:0;margin-right:auto}
.kaist-1 .box_03{padding:15px;width:auto;height:auto;border-radius:0;margin-left:auto}
.kaist-1 .box_04{padding:15px;width:auto;height:auto;border-radius:0;margin-left:auto}
.kaist-1 .box_05{padding:15px;width:auto;height:auto;border-radius:0;margin-left:auto}
.kaist-1 .box_06{padding:15px;border:1px #dedede solid;border-radius:10px}
.kaist-1 i{font-size:72px}

/* 플랙스박스 */
.kaist-1 {justify-content: center;}
.kaist-1 .flexbox{display:flex;flex-wrap:wrap;gap:0em;justify-content:center}
.kaist-1 .item{flex-basis:150px;flex-grow:0;border:none;justify-content:center; display:flex;}
.kaist-1 .item_03{flex-basis:250px;flex-grow:1;border:none}
.kaist-1 .flexbox_02{display:flex;flex-wrap:wrap;gap:1em;word-break: keep-all;;}
.kaist-1 .item_02{flex-basis:400px;flex-grow:1;border:none}
.kaist-1 .box_01{border:1px solid #096daf;padding:55px; width:300px;height:300px;border-radius:50%;margin-right:-50px; flex-grow: 1; word-break: keep-all;}
.kaist-1 .box_02{border:1px solid #84b6d7;padding:55px;width:300px;height:300px;border-radius:50%;margin-right:-50px; flex-grow: 1; word-break: keep-all;}
.kaist-1 .box_03{background:rgba(186,160,138,.5);padding:40px;color:rgba(255,255,255,1);width:300px;height:300px;border-radius:50%;margin-left:0px; flex-grow: 1; word-break: keep-all;}
.kaist-1 .box_04{background:rgba(142,137,133,.5);padding:40px;color:rgba(255,255,255,1);width:300px;height:300px;border-radius:50%;margin-left:-50px; flex-grow: 1; word-break: keep-all;}
.kaist .box_04 {background:rgb(255 255 255); border:1px solid #bad6e9; }

.kaist-1 .box_05{background:rgba(82, 82, 82, 0.5);padding:40px;color:rgba(255,255,255,1);width:300px;height:300px;border-radius:50%;margin-left:-50px; flex-grow: 1; word-break: keep-all;}
.kaist-1 .box_06{background:rgba(237,109,0,1);padding:30px;border:1px #dedede solid;border-radius:10px}
.kaist-1 .box_07{border:1px #dedede solid}
.kaist-1 .box_08{border:10px #dedede solid;padding:35px;color:rgba(255,255,255,1);width:200px;border-radius:50%;margin:10px; align-items: center; display: flex; flex-direction: column;}
.kaist-1 i{font-size:100px;color:rgba(255,255,255,1)}
.kaist-1 .box_08 i {font-size:80px;color:#bebebe; display: flex;}
.kaist-1 .txt_24{padding-bottom:15px;color:#096daf;letter-spacing:0}
.kaist-1 .txt_22{padding-top:5px;color:rgba(237,109,0,1);letter-spacing:0;font-size: 18px;}
.kaist-1 .item_04{flex-basis:450px;flex-grow:1;border:none}

.item_04.box_05 {display: flex; flex-grow: 1; width:30%; min-height: 205px;}
.cont_04 .tit{font-size:22px;color:#000;}


/* 반응형 */
@media screen and (max-width:992px) {
.kaist-box_01 {padding:25px; height: 160px; margin-right:0px;  justify-content: space-between; align-items: flex-start;}
.kaist-box_01 p {margin:0;}
}

@media screen and (max-width:801px) {
.kaist-1 .box_02 {margin-right:0px;}
.kaist-1 .box_01 {margin-right:0px;}
.line_blue .txt_26 {font-size:18px;}
.line_blue .pad_30 {padding:20px;}
}
@media screen and (max-width:620px) {
.kaist-1 .box_01{ border:1px solid #096daf; padding:30px; width:200px; height:auto; border-radius:10px; margin-right:0px;  word-break: keep-all; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; }
.kaist-1 .box_02{ border:1px solid #84b6d7; padding:30px; width:200px; height:auto; border-radius:10px; margin-right:0px; word-break: keep-all; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; }
.kaist-1 .box_01 img,.kaist-1 .box_02 img {display: none;}
.kaist-1 .box_01 p, .kaist-1 .box_02 p {margin-bottom:0px;}
}

@media screen and (max-width:575px) {
.sub01d-box-1 .txt_28 {font-size:24px;}

.sub01d-box-2 {padding-top:0px;}
.sub01d-box-2 .txt_28 {font-size:24px; }

.sul_area .gab {padding-left:0px;}
}

/* 서브 Education */
.speech {padding:0 10px;}
.border-box {position:relative;}
.border-box::after {content:""; height:30px; width:1px; background-color:#e2e2e2; position: absolute; top: 100%; left:50%;}
    
.bottom_line_box {padding-left:0px; padding-right:0px;}
.bottom_line_box::after {content:""; height:30px; width:1px; background-color:#e2e2e2; position: absolute; top: 100%; left:50%;}
.bottom_line {background-color:#e2e2e2; width:100%; height:1px;}

@media only screen and (max-width: 767px) {
    .sub_group .circle_01 p {font-size: 18px;}
    .sub_group .circle_01 {width: 250px;height: 250px;}
}

@media only screen and (max-width: 591px) {
    .sub_group .circle_01 p {font-size: 18px;}
    .sub_group .circle_01 {width: 230px;height: 230px;}
    .bottom_line_box {display:none;}
}
